body{ /*altera propriedades gerais do conteudo html*/
    font-family:Arial, Helvetica, sans-serif;
    width:90%; /*largura total do corpo do texto*/
    margin:0 auto; /*centraliza o conteudo*/
    background-image:linear-gradient(to right,#0b1726, #1f3f66);

} 
header{ /*define o cabeçalho do site*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#161616;
    border-radius:5px; /*arredonda os cantos de um elemento*/
    margin-top:10px;
}

.logo img{/*alteraçao da div logo especificamente na tag img*/
    width:55%; /* aumenta ou diminui a imagem*/
    padding-top:50px;
}

.navegacao{
    overflow:hidden; /*esconde a barra de rolagem*/
}
.navegacao a{ /* altera os hiperlinks da casse navegação*/
    float:right; /*posiciona o conteudo em relaçao a direita*/
    color:rgb(173,173,173); 
    text-decoration:none;
    padding:10px;

}
.navegacao a:hover{ /*altera a cor dos links quando passa o mouse por cima*/
    color:#e32936;
    background-color:black;
}
.principal{
    display:flex;
    flex-direction:row;
}
.conteudo{
    float:left;
    margin:15px 15px 25px 2px; /*define margens em relaçao ao body*/
    background-color:gainsboro;
    text-align:justify; /*texto justificado*/
    padding:15px;/*para o texto nao ficar colado no card*/
    border-radius:5px;/*cantos arrendondados*/
    box-shadow:10px 10px 10px; /*define sombra*/

}
.rodape{
    color:darkgray;
    font-size:10px;
    text-align:center;
}

@media screen and (max-width:600px){
    .principal, .conteudo{
        width:100%;
        flex-direction:colum;
        padding:0px;

    }
}

    
